.header-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

header {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

/*Les liens dan l'en-tête*/
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #ff0000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}